# Default ignored files
/shelf/
/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
#Enviroment file
.env
#Model_cache folder of Biobert and clinicalbert downloaded from Hugging Face
models_cache/

#PyCharm
*.iws
*.iml
*.ipr
*.bin
*.tar.gz
*.h5
*.msgpack
